<div class="device">
	<div class="system_info">
		<%= @obj_version_array[0].version %>
		<% @obj_info_array.each do |info| %>
			<%= info.model %>
			<%= info.system_name %>
		<% end %>
	</div>
	<% @sorted_object_array.each do |int| %>
		<div class="interface <%= 'enabled' if int.status == '1' %>">
			<%= int.name %>
			<br>
			<% if int.status == '1' %>
				Enabled
			<% else %>
				Disabled
			<% end %>
			<br>
			<%= int.ipv4_address %>
			<br>
			<%= int.netmask %>
			<br>
			<%= int.default_gateway %>	
		</div>
	<% end %>
</div> 
<div id="form_box">
	<%= render :template => 'uploads/new' %>
	<div id="form_top_right_X" onclick="closeBox()"><a>X</a></div>
</div>


