<div class="device">
	<% @sorted_object_array.each do |int| %>
		<div class="interface">
			<%= int.name %>
			<br>
			<%= int.ipv4_address %>
			<br>
			<%= int.netmask %>
			<br>
			<%= int.default_gateway %>	
		</div>
	<% end %>
</div> 
<div id="form_box">
	<%= render :template => 'uploads/new' %>
	<div id="form_top_right_X" onclick="closeBox()"><a>X</a></div>
</div>


