<!DOCTYPE html>
<html>
<head>
  <title>TellFile</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script type="text/javascript">
	setTimeout("$('.alert').fadeOut('slow')", 5000)

	function displayForm() {
		document.getElementById("form_box").style.visibility = "visible";
	}

	function closeBox() {
		document.getElementById("form_top_right_X").parentElement.style.visibility ="hidden";
	}
  </script>
  <%= csrf_meta_tags %>
</head>
<body>
	<% if user_signed_in? %>
			<div class="title_box">
				<div class="title_button"><%= link_to 'TellFile', root_path %></div>
				<div class="upload_button" onclick="displayForm()"><a>Upload</a></div>
				<div class="sign_out_box"><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></div>
			</div>
			<%= yield %>
			
	<% else %>
			<div class="title_box">
				<div class="title_button"><%= link_to 'TellFile', new_user_session_path %></div>
				<%= yield %>
			</div>

	<% end %>


<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

</body>
</html>



